* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #EFBB4F;
  box-shadow: inset 2em 2em 2em black, inset -2em -2em 2em black;
}

.reels-container {
  background-color: black;
  width: 100%;
  padding: 0.6rem;
  overflow: auto;

}

.reels {
  border-top: 10px dashed #f8dfac;
  border-bottom: 10px dashed #f8dfac;
  width: 100%;
  height: 16rem;
  display: flex;
  padding: 0.6rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.reel_img {
  border: 1px solid white;
  height: 100%;
  flex: 0 0 auto;
  width: 14rem;
  border-radius: 12px;
  background-color: #EFBB4F;
  margin: 0 0.6rem;
}

.reel_img>img {
  height: 100%;
  width: 100%;
}